@font-face {
    font-family: 'digital';
    src: url(../fonts/digital.ttf);
}
tbody, td, tfoot, th, thead, tr {
	border-color: #ddd !important;
}
.std-short-list{
    position: relative;
    /* display: none; */
}
#result_view{
    position: absolute;
    top: 0;
    left: 0;
    width: 750px;
    transform: scale(0);
    transition: .5s;
}
#result_view.active{
    transform: scale(1);
}
.result-card {
position: relative;
}
.result-card button{
    position: absolute;
    top: 20px;
    right: 25px;
}
.table.std-info > :not(caption) > * > * {
	padding: 0 .2rem;

}